#tech {
  padding: 3rem 0;
  background: var(--color-bg);
}
.tech_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.tech_container > div {
  background: var(--color-primary-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.tech_container > div:hover {
  background: transparent;
  border-color: var(--color-bg-variant);
  cursor: default;
}

.tech_container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-text-);
}

.experience_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience_details {
  display: flex;
  gap: 1rem;
}

h5 {
  text-align: center;
  margin-bottom: 1rem;
}

#tech h2 {
  margin-bottom: 3rem;
  color: var(--color-text-);
}

.icon {
  margin-top: 6px;
  color: var(--color-text-);
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 1024px) {
  .tech_container {
    grid-template-columns: 1fr;
  }

  .tech_container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience_content {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .tech_container {
    gap: 1rem;
  }

  .tech_container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
