#about {
  padding: 10rem 0;
  background: var(--color-bg);
}
.about_container {
  display: grid;
  grid-template-columns: 35% 53%;
  gap: 12%;
}

.about_left {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
  order: 1;
}

.about_right {
  order: 2;
}

.about_right h2 {
  color: var(--color-text-);
}

.about_portrait {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.about_portrait:hover {
  transform: rotate(0);
  cursor: pointer;
}

.about_cards {
  margin: 3rem 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card.about_card {
  text-align: center;
  cursor: pointer;
}

.about_card-icon {
  font-size: 1.3rem;
  color: var(--color-white);
  border-radius: var(--border-radius-3);
  width: fit-content;
  margin-inline: auto;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.card.about_card:hover .about_card-icon {
  background: var(--color-primary);
  color: var(--color-white);
}

.card.about_card h5 {
  margin: 1rem 0;
  color: var(--color-light);
}

.about_right p {
  margin-bottom: 0.8rem;
  color: var(--color-light-again);
}

.about_right .btn {
  margin-top: 2.5rem;
}

small {
  color: var(--color-light);
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .about_left {
    width: 50%;
    margin: 2rem auto 4rem;
    order: 2;
  }

  .about_right {
    order: 1;
    margin-bottom: 8rem;
  }

  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about_right h2 {
    text-align: center;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .about_left {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about_cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about_right .btn {
    margin-top: 2rem;
  }
}
